{
  "extends": [
    "google",
    "plugin:ava/recommended"
  ],
  "installedESLint": true,
  "plugins": [
    "ava"
  ],
  "rules": {
    "indent": [
      "error",
      "tab",
      {
        "SwitchCase": 1
      }
    ],
    "max-len": [
      "error",
      100
    ],
    "operator-linebreak": "off"
  }
}
