{
  "extends": "google",
  "installedESLint": true,
  "rules": {
    "indent": [
      "error",
      "tab",
      {
        "SwitchCase": 1
      }
    ],
    "max-len": [
      "error",
      100
    ]
  }
}
